@import url(fonts/clear-sans.css);

body {
    margin: 80px 0 !important;
    color: rgba(255,255,255, .8) !important;
    background-color: #212121 !important;
}

html {
    background-color: #212121 !important;
}

.game-container {
    background-color: #303030 !important;
}

a {
    color: white !important;
}

.timertileNumber {
    color: white !important;
}

.timertile {
    background-color: rgba(238, 228, 218, 0.2) !important;
    color: white !important;
}

.score-container, .best-container, #timer {
    background-color: rgba(238, 228, 218, 0.5) !important;
}

.restart-button {
    background-color: rgba(238, 228, 218, 0.3) !important;
}

.settings-modal-content {
    background-color: #424242 !important;
    color: #cecece !important;
}

.on-off-button {
    background-color: #5f5c59 !important;
}


